* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  /* margin: 0 auto !important;
  padding: 0 !important; */
  /* background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  ); */
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  overflow: hidden;
}

.header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 99;
  background: #fff;
}

.wrapper {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center;
  height: 100%;
  padding: 10px 20px;
}

.links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style-type: none;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1em;
}

/* .container h1 {
  color: red;
} */

.primary-button {
  padding: 10px 20px;
  background: transparent;
  color: #0563b4;
  border: 1px solid #0563b4;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}

.secondary-button {
  padding: 10px 20px;
  background: #0563b4;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  transition: ease-in-out 0.5s;
}

.primary-button:hover {
  background: #f5efef !important;
  color: #0563b4;
  transition: ease-in-out 0.1s;
}

.secondary-button:hover {
  background: #03335c !important;
  color: #fff;
  transition: ease-in-out 0.1s;
}

.icon {
  width: 2rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  z-index: 99;
  background: #fff;
  padding: 0 20px;
}

.dropdown-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  list-style-type: none;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.1em;
}

.dropdown-menu ul li {
  border-bottom: solid gainsboro 2px;
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col button {
  width: 100%;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.login {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px !important;
  width: 100%;
  margin: auto;
}
.login > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.home {
  margin: 0 auto;
  width: 800px;
  /* width: 100vw; */
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* .bg img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
} */

.platforms {
  background-color: #dfdfdf;
  margin: 0 auto;
  width: 100vw;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.platforms p {
  max-width: 520px;
  /* padding: 0 100px; */
}

.wrapper-app {
  position: relative;
  max-width: 520px;
  width: 100%;
  background-color: white;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 1px solid gray;
  height: 50%;
}

.line {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-child {
  position: "fixed";
  top: "50%";
  display: flex;
  flex-direction: column;
  color: rgb(16, 26, 35);
  left: "50%";
  transform: "translate(-50%, -50%)";
  border-radius: 19px;
  background: linear-gradient(145deg, #ffffff, #e2e2e2);
  box-shadow: inset -8px -8px 12px 0px #c0c0c3, inset 8px 8px 10px 0px #ffffff,
    10px 9px 9px 0px #1c1d2259;
  z-index: 1000;
}

.modal-backdrop {
  background: rgb(0 0 0 / 5%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.modal-well {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}

.modal-hidden {
  display: none;
  overflow: hidden;
}

.modal-content {
  z-index: 1001;
  width: 40%;
  min-width: 400px;
  max-width: 400px;
}

@media (max-width: 768px) {
  .profile,
  .flex,
  .links {
    display: none;
  }
  .logo {
    font-size: 1.75rem;
  }
  .home {
    margin: 0 auto;
    height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    inline-size: 400px;
    overflow: hidden;
    font-size: clamp(0.75rem, 1vw, 2rem);
  }
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
}

/*
sm: 640px 
// => @media (min-width: 640px) { ... }
md: 768px
// => @media (min-width: 768px) { ... }
lg:1024px
// => @media (min-width: 1024px) { ... }
xl:1280px
// => @media (min-width: 1280px) { ... }
2xl:1536px
// => @media (min-width: 1536px) { ... }
*/

/*
body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
  background-color: #000;
  background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background: #fff;
  z-index: 99;
}

.navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo {
  font-size: 2em;
  color: black;
  user-select: none;
}

.icon {
  width: 20px;
}

li {
  text-decoration: none !important;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin-left: 20px;
}

.navigation .btn {
  width: 130px;
  height: 50px;
  background: #0563b4;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  margin-left: 20px;
  transition: ease-in-out 0.5s;
}

.navigation .btn:hover {
  background: #03335c !important;
  color: #fff;
}

h2 {
  margin-bottom: 0;
}

.login {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 500px !important;
  width: 100%;
  margin: auto;
}
.login > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 500px;
  width: 100%;
  margin: auto;
}
.container > form {
  width: 70%;
  border: 1px solid #dfdfdf;
  padding: 20px;
  border-radius: 5px;
  background: #fff;
}
pre {
  width: 70%;
  color: #fff;
  font-size: larger;
}

button {
  background: #0563b4 !important;
}
p {
  color: red;
}

.ui.fixed.menu {
  padding: 15px;
}

.ui.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile h3 {
  margin-bottom: 0;
  margin-right: 10px;
}
.home-profile {
  margin-top: 70px;
  width: 50vw;
  margin: 70px auto;
  display: flex;
  padding: 25px;
  color: #fff;
}

*/
